/* ---------------------------------- */
/* ------- SETUP ADJUSTMENTS -------- */
/* ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
  width: 100%;
  background-color: #5bc0de;
  font-size: 100%;
  font-weight: 300;
  font-family: 'lato', arial;
}

h1 {
  margin: 0;
  font-size: 300%;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: #212121;
}

/* ---------------------------------- */
/* ------ REUSABLE COMPONENTS ------- */
/* ---------------------------------- */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text-primary {
  color:  #333;
  font-family: GillSans;
}

.btn-warning {
  background-color:  #f0ad4e;
  padding: 4px;
  border-radius: 10px;
  color: #222;
  font-weight: bold;
}
/* ---------------------------------- */
/* ----------- TODO LIST ------------ */
/* ---------------------------------- */
.todo-list {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.todo-list ul {
  list-style: none;
}

.todo-list li {
  font-weight: bold;
  font-size: 1em;
  /*background-color: #5cb85c; not needed*/
  margin: 20px auto;
  padding: 5px;
  border-radius: 10%;
}

.todo-list input.todo--input {
  width: 30%;
}

i.del {
  float: right;
  background-color: #d9534f;
  border-radius: 100%;
  padding: 1%;
  transition: background-color .7s;
}

i.del:hover {
  background-color: #777;
}

div.card-panel {
  width: 50%;
  height: 6rem;
  margin: 0 auto;
}

span.item-text.flow-text {
  margin-right: 5rem;
}
